.navbar.navbar-expand-lg.navbar-light.bg-light {
  padding: 15 20px;
  background-color: #4b4f58 !important;
  margin: auto;
  box-shadow: none;
}

.outer-header-div {
  background-color: #4b4f58 !important;
}

.navbar-toggler-icon {
  background-color: red;
}

.nav-link {
  color: white !important;
}

.wishlist {
  cursor: pointer;
  margin-right: 20px;
  padding: 7px;
  border-radius: 10px;
  transition: 0.5s;
}

.wishlist:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

@media (min-width: 922px) {
  .navbar.navbar-expand-lg.navbar-light.bg-light {
    max-width: 1240px;
  }
}

@media screen and (max-width: 768px) {
  .navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 15px 20px;
  }
}
