.gradient-custom-2 {
  background: #6b8e23;
  background: -webkit-linear-gradient(to right, #006400, #228b22, #ff8c00);
  background: linear-gradient(to right, #006400, #228b22 #ff8c00);
}

.form-control {
  border: 1px solid grey !important;
}

.btn.btn-success.btn-block.fa-lg.gradient-custom-2.mb-3 {
  border: none !important;
  box-shadow: none !important;
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
