.gradient-custom-2 {
  background: #6b8e23;

  background: -webkit-linear-gradient(to right, #006400, #228b22, #ff8c00);

  background: linear-gradient(to right, #006400, #228b22 #ff8c00);
}

.form-control {
  border: 1px solid grey !important;
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
